<?xml version="1.0" encoding="UTF-8"?>

<!--
  
  	Copyright (c) 2012 - 2021 Hércules S. S. José

    Este arquivo é parte do programa Orçamento Doméstico.
    

    Orçamento Doméstico é um software livre; você pode redistribui-lo e/ou

    modificá-lo dentro dos termos da Licença Pública Geral Menor GNU como

    publicada pela Fundação do Software Livre (FSF); na versão 3.0 da

    Licença.
    

    Este programa é distribuído na esperança que possa ser útil, mas SEM

    NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer
    
    MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral Menor GNU
    
    em português para maiores detalhes.
    

    Você deve ter recebido uma cópia da Licença Pública Geral Menor GNU sob
	
	o nome de "LICENSE" junto com este programa, se não, acesse o site do
    
    projeto no endereco https://github.com/herculeshssj/orcamento-maven ou 
	
	escreva para a Fundação do Software Livre(FSF) Inc., 51 Franklin St, Fifth 
	
	Floor, Boston, MA  02110-1301, USA.
    

    Para mais informações sobre o programa Orçamento Doméstico e seu autor
	
	entre em contato pelo e-mail herculeshssj@outlook.com, ou ainda escreva

    para Hércules S. S. José, Rua José dos Anjos, 160 - Bl. 3 Apto. 304 - 
	
	Jardim Alvorada - CEP: 26261-130 - Nova Iguaçu, RJ, Brasil.

-->
  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-4.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
						
	<!-- General -->
	<context:component-scan base-package="br.com.hslife.orcamento" />
	
	<context:annotation-config/>
	
	<!-- AsjectJ -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
 
    <!-- data source -->
    <context:property-placeholder location="classpath:jdbc-junit.properties" />
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
        	<array>
        		<value>br.com.hslife.orcamento.entity</value>
        		<value>br.com.hslife.orcamento.model</value>
        	</array>
        </property>
        <property name="hibernateProperties">
        	<props>
        		<prop key="hibernate.dialect">${hibernate.dialect}</prop>
        		<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        		<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
        		<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
        		<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
        	</props>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <!-- Spring Security --> 	
 	<sec:http auto-config="true">
 		<sec:intercept-url pattern="/pages/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
 		<sec:form-login login-page="/login.faces" authentication-failure-url="/erroLogin.faces" />
 		<sec:access-denied-handler error-page="/acessoNegado.faces"/>
 		<sec:csrf disabled="true"/>
 	<!-- 
 		<sec:access-denied-handler error-page="/acessoNegado.faces"/>
	    <sec:form-login login-page="/login.faces" authentication-failure-url="/erroLogin.faces"	authentication-success-handler-ref="startupUserParametersHandler"/>
	    <sec:intercept-url pattern="/pages/**" access="hasRole('USER') and hasRole('ADMIN')" />
	    <sec:logout delete-cookies="JSESSIONID" />
	    <sec:remember-me key="uniqueAndSecret" token-validity-seconds="86400"/>
	    -->	    
	</sec:http>
	<!-- 
	<bean id="springSecurityUserDetailsService" class="br.com.hslife.orcamento.security.SpringSecurityUserDetailsService" />
	-->
	<sec:authentication-manager>
		<sec:authentication-provider user-service-ref="springSecurityUserDetailsService">
			<sec:password-encoder hash="sha-256"/>
		</sec:authentication-provider>
		
	<!-- 
	    <sec:authentication-provider>
	    	<sec:password-encoder hash="sha-256"/>
	        <sec:jdbc-user-service data-source-ref="dataSource"
	            users-by-username-query="select login as username, senha as password, case ativo when 1 then 'true' else 'false' end as enabled from usuario where login=?"
	            authorities-by-username-query="select login as username, tipoUsuario as role from usuario where login=?" />
	    </sec:authentication-provider>
	    -->
	</sec:authentication-manager>
    
</beans>