<?xml version="1.0" encoding="UTF-8"?>

<!--
  
  	Copyright (c) 2012 - 2015 Hércules S. S. José

    Este arquivo é parte do programa Orçamento Doméstico.
    

    Orçamento Doméstico é um software livre; você pode redistribui-lo e/ou 

    modificá-lo dentro dos termos da Licença Pública Geral Menor GNU como 

    publicada pela Fundação do Software Livre (FSF); na versão 2.1 da 

    Licença.
    

    Este programa é distribuído na esperança que possa ser útil, 

    mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÂO a 
    
    qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública 
    
    Geral Menor GNU em português para maiores detalhes.
    

    Você deve ter recebido uma cópia da Licença Pública Geral Menor GNU sob o 

    nome de "LICENSE.TXT" junto com este programa, se não, acesse o site do
    
    projeto no endereco https://github.com/herculeshssj/orcamento ou escreva 
    
    para a Fundação do Software Livre(FSF) Inc., 51 Franklin St, Fifth Floor, 
    
    Boston, MA  02110-1301, USA.
    

    Para mais informações sobre o programa Orçamento Doméstico e seu autor entre  

    em contato pelo e-mail herculeshssj@gmail.com, ou ainda escreva para 

    Hércules S. S. José, Av. Ministro Lafaeyte de Andrade, 1683 - Bl. 3 Apt 404, 

    Marco II - Nova Iguaçu, RJ, Brasil.

  -->
  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd						
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task.xsd">
						
	<!-- General -->
	<context:component-scan base-package="br.com.hslife.orcamento" />
	
	<context:annotation-config/>
	
	<!-- AsjectJ -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
 
    <!-- data source -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
        	<array>
        		<value>br.com.hslife.orcamento.entity</value>
        		<value>br.com.hslife.orcamento.model</value>
        	</array>
        </property>
        <property name="hibernateProperties">
        	<props>
        		<prop key="hibernate.dialect">${hibernate.dialect}</prop>
        		<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        		<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
        	</props>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <!-- Task Scheduler -->
    <task:annotation-driven />
 
 	<!-- Spring Security --> 	
 	<sec:http auto-config="true">
 		<sec:access-denied-handler error-page="/acessoNegado.faces"/>
	    <sec:form-login login-page="/login.faces" authentication-failure-url="/erroLogin.faces"	authentication-success-handler-ref="startupUserParametersHandler"/>
	    <sec:intercept-url pattern="/pages/**" access="ROLE_USER,ROLE_ADMIN" />
	    <sec:logout delete-cookies="JSESSIONID" />
	    <sec:remember-me key="uniqueAndSecret" token-validity-seconds="86400"/>	    
	</sec:http>
	
	<sec:authentication-manager>
	    <sec:authentication-provider>
	    	<sec:password-encoder hash="sha-256"/>
	        <sec:jdbc-user-service data-source-ref="dataSource"
	            users-by-username-query="select login as username, senha as password, case ativo when 1 then 'true' else 'false' end as enable from usuario where login=?"
	            authorities-by-username-query="select login as username, tipoUsuario as authority from usuario where login=?" />
	    </sec:authentication-provider>
	</sec:authentication-manager>
</beans>